# API URL (Base path for the server endpoint)
# Replace with your production domain (e.g. https://api.yourdomain.com/api)
VITE_API_URL=http://localhost:5000/api

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=403992425264-tp4p2flguojrg091qv2uoob6hph96n2l.apps.googleusercontent.com
